/* Header.js */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding for more space */
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White font color */
  margin: 0; /* Remove margin */
}

.header h1 {
  margin: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #fff; /* White font color */
  transition: color 0.3s;
   font-size: 16px
}

.nav-item a:hover {
  color: #f0f0f0; /* Lighter white on hover */
  
   text-decoration: underline;
}


